
.header-section {
    border-bottom: 1px solid #ECECEC;
}

.header-nav {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
}

.site-nav {
    display: flex;
    margin-left: 93px;
    padding-left: 0;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #212121;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current{
    color: var(--accent-color);
   }

.site-nav__link--current:hover,
.site-nav__link--current:focus {
    color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__item-link {
    position: relative;
}

.site-nav__item-link::after {
    display: block;    
    position: absolute;
    content: '';

    bottom: -2.7px;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
}

/* Site auth */

.site-auth {
    display: flex;
    margin-left: auto;
    padding-left: 0;
}

.site-auth__item:not(:first-child) {
    margin-left: 50px;
}

.site-auth__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-auth__link:hover,
.site-auth__link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.site-auth__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    line-height: 1.14;
    fill: #757575;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-auth__icon {
    margin-right: 10px;
} 

.site-auth__item:hover .site-auth__icon,
.site-auth__item:focus .site-auth__icon {
    fill: var(--accent-color);
    cursor: pointer;
}
